import React from 'react';

interface {{pascalCase name}}Props {}

export const {{pascalCase name}}: React.FC<{{pascalCase name}}Props> = () => {
  return (
    <div data-testid="{{dashCase name}}">
      {{pascalCase name}} component
    </div>
  );
};
